h1{
    font-size: 120%;
    text-align: center;
}

.textoTermosDeUso{
    font-size: 90%;
    position: absolute;
    right:5%;
    left: 5%;   
}

.textosQueFicamMaisParaDentro{
    font-size: 85%;
    text-align: justify;
    color: #808080;
}

.tdrTermosdeUso{
    text-align: center;
}

