<ion-header>
  <ion-toolbar color="petfeliz"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Termos de Uso</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <!--Conteúdo do app-->
  <h1> <b> Termos de Uso </b> </h1>

  <div class="textoTermosDeUso"> <!--Termos de Uso-->
    <b> 1.Termos</b> <br>
    <b>Ao acessar ao site Pet Feliz, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</b>
    <br>
    <br>
    <b>2.Uso de Licença</b>
    <br> <b> É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site Pet Feliz , apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:</b>   
    <br>
    <br>
        <div class="textosQueFicamMaisParaDentro">
          1. modificar ou copiar os materiais; <br>
          2. usar os materiais para qualquer finalidade comercial ou para √exibição pública (comercial ou não comercial); <br>
          3. tentar descompilar ou fazer engenharia reversa de qualquer √software contido no site Pet Feliz; <br>
          4. remover quaisquer direitos autorais ou outras notações de √propriedade dos materiais; ou        <br>      
          5. transferir os materiais para outra pessoa ou 'espelhe' os √materiais em qualquer outro servidor.  <br>
        </div>
    <br>
    <b> Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por Pet Feliz a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais baixados em sua posse, seja em formato eletrónico ou impresso.</b>  <br>
    <br>
    <b>3.Isenção de Responsabilidade</b> 
    <br>

    <div class="textosQueFicamMaisParaDentro">
      1. Os materiais no aplicativo da Pet Feliz são fornecidos 'como estão'. Pet Feliz não oferece garantias, expressas ou como implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.<br>
      2. Além disso, o Pet Feliz não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ou à confiabilidade do uso dos materiais em seu aplicativo ou de outra forma relacionado a esses materiais ou em aplicativos vinculados a este aplicativo.  <br>
    </div>
    <br>
    <b>4.Limitações</b> 
    <br><b>Em nenhum caso o Pet Feliz ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Pet Feliz, 
        mesmo que Pet Feliz ou um representante autorizado da Pet Feliz tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.</b> <br>
   
    <br>
    <b>5. Precisão dos Materiais</b> 
    <br> <b>Os materiais exibidos no aplicativo da Pet Feliz podem incluir erros técnicos, tipográficos ou fotográficos. Pet Feliz não garante que qualquer material em seu aplicativo seja preciso, completo ou atual. Pet Feliz pode fazer alterações nos materiais contidos em seu aplicativo a qualquer momento, sem aviso prévio. No entanto, Pet Feliz não se compromete a atualizar os materiais.</b> <br>
    <br>
    <b>6. Links</b> 
    <br><b>Os materiais exibidos no aplicativo da Pet Feliz podem incluir erros técnicos, tipográficos ou fotográficos. Pet Feliz não garante que qualquer material em seu aplicativo seja preciso, completo ou atual. Pet Feliz pode fazer alterações nos materiais contidos em seu aplicativo a qualquer momento, sem aviso prévio. No entanto, Pet Feliz não se compromete a atualizar os materiais.</b>
    <br>
    <br>
    <b>Modificações</b>
    <br>
       O Pet Feliz pode revisar estes termos de serviço do aplicativo a qualquer momento, sem aviso prévio. Ao usar este aplicativo, você concorda em ficar vinculado à versão atual desses termos de serviço.
    <br>
    <br>
    <b>Lei Aplicável</b>
    <br>
       Estes termos e condições são regidos e interpretados de acordo com as leis do Pet Feliz e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.
    <br>
    <br>
    <div class="tdrTermosdeUso">
      Todos os direitos reservados ©️ 2021 | Pet Feliz
    </div>
    
    
      
  </div>
</ion-content>
