<ion-header>
  <ion-toolbar color="primary"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Conta</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <!--Conteúdo do app-->

  <ion-item class="avatarContaDW">

    <ion-avatar slot="start" style="height: 65px; width: 65px;">
      <img src="/assets/avatar_homemPerfil.jpg"> <!--Avatar do DW-->
    </ion-avatar>

  </ion-item>

    <div class="nomeEavatarContaDW">
      <ion-label> <b> Heitor Chaves </b> </ion-label>  <!--Nome do DW-->
    </div>  

    <ion-label class="alterarFotoPerfilDW"> Alterar foto de perfil </ion-label>
  

  <div class="dadosContaDW">
    <b>Dados pessoais</b>
  </div>
  
  <div class="nomeContaDW">
    <b>Nome:</b>
  </div>

  <div class="dataNascimentoContaDW">
    <b>Data de Nascimento:</b>
  </div>

  <div class="telefoneContaDW">
    <b>Número de celular:</b>
  </div>

  <ion-button expand="block" color="secondary" class="botaoAlterarConta"><b>Alterar</b></ion-button>
  
     

</ion-content>
  