<ion-header>
  <ion-toolbar color="petfeliz"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Conta</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content" *ngFor="let u of usuarioLogado">

    <!-- Seção foto e nome -->
    <section id="foto-nome">
      
      <ion-avatar slot="start" style="height: 115px; width: 115px;">
        <img [src]="u.fotoPerfil">
      </ion-avatar>

      <div id="nome">
        <h3><b>{{u.nome}}</b></h3>
      </div>
     

    </section>
    
    <ion-item-divider></ion-item-divider>

    <!-- Seção dados pessoais -->
    <section class="dados">

      <h4 style="margin-left: 15px;"> <b>Dados pessoais</b></h4>

      <div class="inputs">

        <div style="width: 100%;">    
          <ion-item>
            <ion-label position="floating">Data de nascimento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" readonly [(ngModel)]="u.dataNascimento">
            </ion-datetime>
          </ion-item>
          
          <ion-item>
            <ion-label position="fixed">WhatsApp</ion-label>
            <ion-input readonly type="text" [(ngModel)]="u.whatsApp">
    
            </ion-input>
          </ion-item>
        </div>
        
        <ion-button color="primary" class="botao" (click)="alterarDadosPessoais(u.dataNascimento)">alterar</ion-button>
      
      </div>
    </section>

    <!-- Seção dados da conta -->
    <section class="dados">

      <h4 style="margin-left: 15px; text-align: start;" > <b>Dados da conta</b></h4>

      <div class="inputs">
        <div style="width: 100%">
          <ion-item>
            <ion-label position="fixed">E-mail</ion-label>
            <ion-input readonly [(ngModel)]="u.email" type="text">
            </ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="fixed">Senha</ion-label>
            <ion-input readonly type="password">
              *********
            </ion-input>
          </ion-item>
        </div>

        <ion-button color="primary" class="botao" (click)="componenteAlterarSenha()">alterar senha</ion-button>
      
      </div>

    </section>

  </div>
</ion-content>
  