<ion-header class="headerCadastro">
  <ion-avatar class="avatarLogoCadastro">
    <img src="/assets/logoPetFeliz.png">
  </ion-avatar>
</ion-header>

<ion-content> <!--Conteúdo do app-->

  <div class="textoCadastro"> <!-- "Cadastro."-->
    <br>
    <b>Cadastro</b>
  </div>

  <div class="textoVoceE">
    <br>
    <br>
    <b>Você é:</b>
  </div>
  <ion-segment (ionChange)="alterarVoceECadastro($event)" class="segment">
    <ion-segment-button value="EscolhaDogWalkerCadastro">
      <img src="/assets/dogWalker.png" class="imgEscolhaDogWalkerCadastro" >
      <ion-label>DogWalker</ion-label>
    </ion-segment-button>

    <ion-segment-button value="EscolhaProprietarioCadastro">
      <img src="/assets/proprietario.png" class="imgEscolhaProprietarioCadastro">
      <ion-label>Proprietário</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="fundo-rosa">
    
    <div class="fundoBrancoCadastro"> <!--fundo branco-->

      <ion-list *ngIf="escolha=='EscolhaDogWalkerCadastro'">
        <form #f="ngForm" (ngSubmit)="cadastrarUsuario(f)">
            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">Nome</ion-label>
              <ion-input type="text" placeholder="Digite seu nome" ngModel name="nome" class="inputs"></ion-input>
            </ion-item>
                
            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">Data de Nascimento</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" 
                            max="2002-12-31" 
                            ngModel name="dataNascimento"
                            class="inputs">
              </ion-datetime>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">Telefone</ion-label>
              <ion-input type="tel" ngModel name="whatsapp" placeholder="Digite seu Telefone" class="inputs"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">E-mail</ion-label>
              <ion-input type="email" ngModel name="email" placeholder="Digite seu E-mail" class="inputs"></ion-input>
            </ion-item>
        
            <ion-item class="senha-margin">
              <ion-label class="labelEscolhaDogWalkerCadastro">Senha</ion-label>
              <ion-input type="password" ngModel name="PasswordString" class="inputs"></ion-input>
            </ion-item>
            
            <ion-button expand="block"
                        class="botaoCadastrarCadastro"
                        color="secondary"
                        type="submit"
                        class="botao-cadastrar">
              <b>Cadastrar</b>
            </ion-button> <!--BOTÃO Cadastrar-->
        </form>
      </ion-list>
    </div>

    <div class="fundoBrancoCadastro"> <!--fundo branco-->

      <ion-list *ngIf="escolha=='EscolhaProprietarioCadastro'">
        <form #f="ngForm" (ngSubmit)="cadastrarUsuario(f)">

          

            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">Nome</ion-label>
              <ion-input type="text" placeholder="Digite seu nome" ngModel name="nome" class="inputs"></ion-input>
            </ion-item>
                
            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">Data de Nascimento</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" max="2002-12-31" ngModel name="dataNascimento" class="inputs"></ion-datetime>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">Telefone</ion-label>
              <ion-input type="tel" placeholder="Digite seu Telefone" ngModel name="whatsapp" class="inputs"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" class="labelEscolhaDogWalkerCadastro">E-mail</ion-label>
              <ion-input type="email"  placeholder="Digite seu E-mail" ngModel name="email" class="inputs"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label class="labelEscolhaDogWalkerCadastro">Senha</ion-label>
              <ion-input type="password" ngModel name="PasswordString" class="inputs"></ion-input>
            </ion-item>

            <ion-button expand="block"
                        class="botaoCadastrarCadastro"
                        color="secondary"
                        type="submit"><b>Cadastrar</b>
            </ion-button> <!--BOTÃO Cadastrar-->
        </form>   
      </ion-list>
    </div>
  </div>

</ion-content>