.headerCadastro{
    background-color: #E7BBE3;
}

.avatarLogoCadastro{
    position: absolute;
    left: 40%;
    right: 40%;
    height: 65px;
    width: 65px;
}

.fundoRosaCadastro{
    background-color: #E7BBE3;
    width: 100%;
    height:100%;
}
.textoCadastro{
    font-size: 120%;
    text-align: center;
}

.textoVoceE{
    font-size: 100%;
    text-align: center;
}


.fundoBrancoCadastro{
    background-color: #ffffff;
    height: 85%;
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    border-radius: 5%;
}

.imgEscolhaDogWalkerCadastro{
    width: 20%;
}
.imgEscolhaProprietarioCadastro{
    width: 20%;
}

.textoDigitarSenhaCadastro{
    color: #000000;
    font-size: 100%;
    text-align: center;
}

.DigitesuaSenhaCadastro{
    font-size: 80%;
}
.DigitesuaSenhaNovamenteCadastro{
    font-size: 80%;
}