.headerCadastro{
    background-color: #E7BBE3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundoRosaCadastro{
    background-color: #E7BBE3;
}
.textoCadastro{
    font-size: 120%;
    text-align: center;
}

.textoVoceE{
    font-size: 100%;
    text-align: center;
}


.fundoBrancoCadastro{
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgEscolhaDogWalkerCadastro{
    width: 20%;
}
.imgEscolhaProprietarioCadastro{
    width: 20%;
}

.textoDigitarSenhaCadastro{
    color: #000000;
    font-size: 100%;
    text-align: center;
}

.DigitesuaSenhaCadastro{
    font-size: 80%;
}
.DigitesuaSenhaNovamenteCadastro{
    font-size: 80%;
}

.fundo-rosa
{
    background-color: #E7BBE3;
}
