<ion-header>

</ion-header>

<ion-content>
  <div class="fundoRosaLogin">

      <img src="/assets/logoPetFeliz.png" style="height: 120px; width: 120px;" class="logoEntrarouCadastrar">
    <div class="textoUmLogin">
      <br>
      <b>Torne-se um Dog Walker <br> ou contrate um.</b>
    </div>
    <br>
    <div class="textoDoisLogin">
      O Pet Feliz lhe ajudará a encontrar e contratar os Dog Walkers mais próximos da sua região. 
    </div>
    
    <ion-button expand="block" class="botaoEntrarLogin" color="danger" (click)="abrirPagina(petsjacadastrados)"><b>Entrar</b></ion-button> <!--BOTÃO-->
    <ion-button expand="block" class="botaoCadastrarLogin" color="danger" (click)="abrirPagina(petsjacadastrados)"><b>Cadastrar</b></ion-button> <!--BOTÃO-->
  </div>
</ion-content>
 <!-- CLASSE JÁ DECLARADA NO CSS ------- FALTA VER O METODO AQUI E NO TS -->