//ion-toolbar{
//    --ion-color-primary: rgb(90, 187, 0) !important;} //exemplo de como mudar a cor de algo
//é só declarar a classe class na frente do item, e mexer aqui 

.cadastreSeusCaesAqui{
    text-align: center;
    font-size: 120%;
    font-family:arial;
}

#conteudo{
    height: 100%;
    width:  100%;
}

#title{
    text-align: center;
    font-size: 120%;
    font-family:arial;
}

.botaoCadastrarPet{
    margin-bottom: 15px;

    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
}