
<ion-content> <!--Conteúdo do app-->
  
  <div id="conteudo">

    <h1 id="title"><b>Cadastrar cão</b></h1>

    <form #f="ngForm" (ngSubmit)="cadastarCao(f)">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" ngModel name="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Raça</ion-label>
        <ion-input type="text" ngModel name="raca"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data nascimento</ion-label>
        <ion-datetime displayFormat="MM/YYYY" ngModel name="dataNascimento"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Peso</ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar" ngModel name="pesoId" >
            <ion-select-option value="1">0 - 4 kg </ion-select-option>
            <ion-select-option value="2">5 - 9 kg</ion-select-option>
            <ion-select-option value="3">10 - 14 kg</ion-select-option>
            <ion-select-option value="4">15 - 19 kg</ion-select-option>
            <ion-select-option value="5">20 - 24 kg</ion-select-option>
            <ion-select-option value="6">25 - 29 kg</ion-select-option>
            <ion-select-option value="7">30 - 34 kg</ion-select-option>
            <ion-select-option value="8">35 - 39 kg</ion-select-option>
            <ion-select-option value="8">40 - 44 kg</ion-select-option>
            <ion-select-option value="10">45 - 49 kg</ion-select-option>
            <ion-select-option value="11">50 - 54 kg</ion-select-option>
            <ion-select-option value="12">55 - 60 kg</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"  class="labelCadastreSeusCaesAqui">Porte</ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar" ngModel name="porte">
            <ion-select-option value="1">Pequeno</ion-select-option>
            <ion-select-option value="2">Médio</ion-select-option>
            <ion-select-option value="3">Grande</ion-select-option>
          </ion-select>
      </ion-item>  
    <br>

      <ion-button expand="block" class="botaoCadastrarPet" color="secondary" type="submit">
        <b>Cadastrar</b>
      </ion-button> <!--BOTÃO-->
    
    </form>

  </div>
  
  

  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button class="FabCadastreSeusCaesAqui" color="danger" (click)="funcoesFabCadastreSeusCaesAqui()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->

</ion-content>
