.avatarSolicitarServicoDW{
    // top: 5%;
    // left: 0%;
}

.box-informacoes{
    width: 100%;
}

.informacoes
{
    height: 100%;
    width: 120%;

    font-size: 15px;

    display: flex;
    flex-direction: row;

    margin-top: 30px;
    margin-bottom: 10px;
}

.item-lista
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.informacoesDW
{

    margin-left: 5%;

    display: flex;
    flex-direction: column;
}

.nomeDW
{
    width: 245px;
    max-width: 52%;
    float: left;
}

.preco-servico, .estado-servico,
.data-hora-servico, .inicio-servico, .valor-total-servico,
.termino-servico
{
    margin-top: 10px;
}

.valor-total{
    margin-bottom: 10px;
    width: 100%;
}

.valorTotalSolicitacoesDW{
    margin-top: 10px;
    float: right;
}

.valor-total-servico
{
    float: right;
    display: flex;

    margin-top: 20px;
    margin-bottom: 15px;
}

.botao
{
    margin-left: 13px;

    font-size: 18px;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

#botoes
{
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#botoes div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao-chamar-caes
{
    margin-top: 20px;

    display: flex;
    color: gray;
    font-size: 105%;
    background-color: transparent;
    width: max-content;
}

.botaoAbrirMapaSolicitacoesDW
{
    display:flex;
    flex-direction: column;
    align-items: center;

    height: 40px;
    width: 135px;
    border-radius: 25px;
    background-color: #FFF;
    border: solid 2px rgb(110, 110, 110);
}

.botao-whatsapp
{
    margin-left: 13px;


    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #47BE53;
}

.textoAbrirMapa
{
    font-size: 130%;
}
