
.conteudo{
    height: 100vh;
    width: 100vw;

    //Alinha os items um embaixo do outro
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixaBranca{
    background-color: #ffffff;
    height: max-content;
    border-radius: 30px;

    //Alinha os items um embaixo do outro
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;

    margin-top: 5%;
}

.title{
    align-items: center;
    font-size: 1.2em;

    color: #000000;

    margin-top: 20px;
    margin-bottom: 15px;
    // margin-bottom: 10%;
}

.botaoLogar{
    margin-top: 25px;

    width: 250px;
}

.inputs{
    width: 100%;
}

.dados-invalidos{
    font-size: 14px;
    color: red;
}