<ion-header>
  <ion-toolbar color="primary"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Solicitações</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-item class="avatarSolicitacoesDW">
      <ion-avatar slot="start">
        <img src="/assets/avatar_homemPerfil.jpg"> <!--Avatar do Proprietario-->
      </ion-avatar>
      <ion-label><b> Heitor Chaves </b></ion-label>  <!--Nome do Proprietario-->
    </ion-item>

    <div class="dataDoServicoSolicitacoesDW"> <!--Data do Serviço-->
      <b>Data:</b>
    </div>

    <div class="enderecoDoServicoSolicitacoesDW"> <!--Endereço do Serviço-->
      <b>Endereço:</b>
    </div>

    <div class="caesDoServicoSolicitacoesDW"> <!--Caes do Serviço-->
      <b>Cães:</b>
    </div>

    <div class="valorTotalDoServicoSolicitacoesDW"> <!--Valor do Serviço-->
      <b>Valor total: R$</b>
    </div>

    <ion-button expand="block" class="botaoAceitarServicoSolicitacoesDW" color="success"> <b>Aceitar</b> </ion-button> <!--BOTÃO Aceitar-->
    <ion-button expand="block" class="botaoRecusarServicoSolicitacoesDW" color="danger"> <b>Recusar</b> </ion-button> <!--BOTÃO Recusar-->
    
  </ion-content>
