
.avatarSolicitacoesDW{
    position: absolute;
    top: 5%;
    left: 0%;
}
.dataDoServicoSolicitacoesDW{
    position: absolute;
    top: 15%;
    left: 20%;
}
.enderecoDoServicoSolicitacoesDW{
    position: absolute;
    top: 20%;
    left: 20%;
}
.caesDoServicoSolicitacoesDW{
    position: absolute;
    top: 25%;
    left: 20%;
}
.valorTotalDoServicoSolicitacoesDW{
    position: absolute;
    top: 30%;
    left: 20%;
}
.botaoAceitarServicoSolicitacoesDW{
    position: absolute;
    top: 35%;
    left: 15%;
    width: 30%;
}
.botaoRecusarServicoSolicitacoesDW{
    position: absolute;
    top: 35%;
    right: 15%;
    width: 30%;
}