.avatarNomePerfil{
    position: absolute;
    top: 5%;
    left: 0%;
}
.parteMeioPerfil{
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
}
.textareaSobrePerfil{
    width: 150%;
    height: 80%;
}

 

 