<ion-header>
  <ion-toolbar color="primary"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Solicitar Serviço</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <!--Conteúdo do app-->
    <div class="dogWalker">
      <div class="item-lista">
        
        <div class="informacoes">
          <div class="avatarSolicitarServicoDW">
            <ion-avatar slot="start">
              <img src=""> <!--Avatar do Dog Walker-->
            </ion-avatar>
          </div>
          
          <div class="informacoesDW">
            <div class="nomeStatus">
              <div class="nomeDW">
                <ion-label><b>Fulano</b></ion-label>  <!--Nome Dog Walker-->
              </div>
                
              <div class="statusSolicitarServicoDW">
                <b>Disponivel</b> <!--Status-->
              </div>
            </div>
            
            <div class="linha1Info">
              <div class="cartao-distancia">
                <div class="cartao">
                  <ion-icon name="card" style="width: 25px; height: 25px;"></ion-icon>
                  <div class="textoCartao" style="margin-left: 5px;">
                    Aceito Cartão
                  </div>
                </div>
    
                <div class="distancia">
                  <img src="/assets/red-pin.png" style="width: 20px; height: 20px;">
                  <div class="texto-distancia"  style="margin-left: 5px;">
                    10
                  </div>
                </div>
              </div>
              
    
              <div class="preco-servico"> <!--Aceito cartao ou não-->
                <img src="/assets/dogWalker.png" style="height: 25px; width: 25px;">
                <b style="margin-left: 10px; color:forestgreen ;">R$20</b>
              </div> 
              
              <div class="avaliacao-dw"> <!--Avaliação média-->
                <b>Avaliação média:</b> <br>
                <b>estreças</b> <!--Estrelas (descobriremos como fazer)-->
              </div>
        
              <div class="preferencias-dw">  <!--Preferencias-->
                <b>Preferências:</b> <br>
                 aaaaaaa 
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  <div class="selecionarCaesSolicitarServicoDW">
    <b>Selecione os cães que serão levados para passear:</b> <!--Texto-->

    <ion-item>
        <ion-select multiple="true" cancelText="Cancelar" okText="Confirmar">
          <ion-select-option>Cão 1</ion-select-option> <!--Select multiplo-->
          <ion-select-option>Cão 2</ion-select-option>
        </ion-select>
    </ion-item>
  </div>

  <div class="valorTotalSolicitarServicoDW">
    <b>Valor total: R$ </b>
  </div>

  <ion-button expand="block" color="secondary" class="botaoSolicitarServicoDW"><b>Solicitar</b></ion-button>

</ion-content>
