.avatarSolicitarServicoDW{
    position: absolute;
    top: 5%;
    left: 0%;
}
.statusSolicitarServicoDW{
    color:rgb(75, 75, 75);
    
}
.cartaoSouNsolicitarServicoDW{
    position: absolute;
    top: 13%;
    left: 20%;
}
.aceitoSouNcartaoSolicitarServicoDW{
    position: absolute;
    top: 14%;
    left: 30%;
}
.textoPrecoPorCaoSolicitarServicoDW{
    position: absolute;
    top: 18%;
    left: 21%;
}

.avaliacaoMediaSolicitarServicoDW{
    position: absolute;
    top: 23%;
    left: 21%;
}

.preferenciasAvaliacaoMediaSolicitarServicoDW{
    position: absolute;
    top: 30%;
    left: 21%;
}

.selecionarCaesSolicitarServicoDW{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    font-size: 110%;
}
.valorTotalSolicitarServicoDW{
    text-align: center;
    position: absolute;
    top: 65%;
    left: 30%;
}
.botaoSolicitarServicoDW{
    position: absolute;
    top: 70%;
    left: 25%;
    width:50%
    
}