<ion-header>
  <ion-toolbar>
      <div id="botao-fechar" (click)="fecharModalSolicitar()">
        <img src="/assets/x-image.png" width="30px" height="30px">
      </div>
      <!-- <button id="botao-cancelar">
        Cancelar
      </button> -->
  </ion-toolbar>
</ion-header>

<ion-content> <!--Conteúdo do app-->

  

  <ion-item>
    <div class="dogWalker">
      <div class="item-lista">
        
        <div class="informacoes">
          <div class="avatarSolicitarServicoDW">
            <ion-avatar slot="start">
              <img src=""> <!--Avatar do Dog Walker-->
            </ion-avatar>
          </div>
          
          <div class="informacoesDW">
            <div class="nomeStatus">
              <div class="nomeDW">
                <ion-label><b>{{dogWalker.nome}}</b></ion-label>  <!--Nome Dog Walker-->
              </div>
                
              <div class="statusSolicitarServicoDW" *ngIf="dogWalker.disponivel == 1" style="color: green;">
                <b>Disponivel</b> <!--Status-->
              </div>
              <div class="statusSolicitarServicoDW" *ngIf="dogWalker.disponivel == 0" style="color: red;">
                <b>Indisponível</b> <!--Status-->
              </div>
            </div>
            
            <div class="linha1Info">
              <div class="cartao-distancia">
                <div class="cartao">
                  <ion-icon name="card" style="width: 25px; height: 25px;"></ion-icon>
                  <div class="textoCartao" style="margin-left: 5px;" *ngIf="dogWalker.servicoDogWalker.aceitaCartao == 1">
                    Aceito Cartão
                  </div><div class="textoCartao" style="margin-left: 5px;" *ngIf="dogWalker.servicoDogWalker.aceitaCartao == 0">
                    Não aceito cartão
                  </div>
                </div>
    
                <div class="distancia" [ngStyle]="{'margin-left': definirMargem()}">
                  <img src="/assets/red-pin.png" style="width: 20px; height: 20px;">
                  <div class="texto-distancia"  style="margin-left: 5px;">
                    {{distancia}} km
                  </div>
                </div>
              </div>
              
    
              <div class="preco-servico"> <!--Aceito cartao ou não-->
                <img src="/assets/dogWalker.png" style="height: 25px; width: 25px;">
                <b style="margin-left: 10px; color:forestgreen ;">R$ {{dogWalker.servicoDogWalker.valorServico}}</b>
              </div> 
              
              <div class="avaliacao-dw"> <!--Avaliação média-->
                <b>Avaliação média:</b> <br>
                <div *ngIf="dogWalker.servicoDogWalker.avaliacaoMedia == 0">Nenhuma avaliação</div>
                <b *ngIf="dogWalker.servicoDogWalker.avaliacaoMedia > 0">{{dogWalker.servicoDogWalker.avaliacaoMedia}}</b> <!--Estrelas (descobriremos como fazer)-->
              </div>
        
              <div class="preferencias-dw">  <!--Preferencias-->
                <b>Preferências:</b> <br>
                 {{dogWalker.servicoDogWalker.preferencias}} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
   
<div class="caes-botao">
  <div class="selecionarCaesSolicitarServicoDW">
    <b>Selecione os cães que serão <br> levados para passear:</b> <!--Texto-->

    <ion-item>
        <ion-select multiple="true" cancelText="Cancelar" okText="Confirmar"
                    placeholder="Selecionar cães"
                    (ionChange)="pegarCaes($event)"
                    [interfaceOptions]="selectOptionCaes">
          <ion-select-option *ngFor="let c of caes" [value]="c.id"
                            >{{c.nome}}</ion-select-option> <!--Select multiplo-->
        </ion-select>
    </ion-item>
  </div>

  <div class="valorTotalSolicitarServicoDW">
    <b>Valor total: &nbsp;</b>
    <div style="color: forestgreen;">R$ {{valorTotal}}</div>
  </div>

  <ion-button expand="block"
              color="secondary" 
              class="botaoSolicitarServicoDW"
              (click)="alertaSolicitar()"
              ><b>Solicitar</b></ion-button>
</div>
  

</ion-content>
