.avatarSolicitarServicoDW{
    top: 10%;
    left: 0%;
}
.statusSolicitarServicoDW{
    
    color:rgb(75, 75, 75);
    // margin-left: 10px;
    float: right;
}

.aceitoSouNcartaoSolicitarServicoDW{
    top: 15%;
    left: 30%;
}
.textoPrecoPorCaoSolicitarServicoDW{
    top: 18%;
    left: 21%;
}

.preferenciasAvaliacaoMediaSolicitarServicoDW{
    top: 30%;
    left: 21%;
}

.selecionarCaesSolicitarServicoDW{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    font-size: 110%;
}
.valorTotalSolicitarServicoDW{
    text-align: center;
    position: absolute;
    top: 65%;
    left: 30%;
}
.botaoSolicitarServicoDW{
    position: absolute;
    top: 70%;
    left: 25%;
    width:50%
    
}
.informacoes
{
    height: 100%;
    width: 120%;

    display: flex;
    flex-direction: row;

    margin-top: 30px;
    margin-bottom: 10px;
}

.dogWalker
{
    display: flex;
    flex-direction: column;
    align-items: center;
} //aquele teste la
.item-lista
{
    margin-bottom: 20px;
}

.informacoesDW
{

    margin-left: 5%;

    display: flex;
    flex-direction: column;
}

.nomeStatus
{
    width: 245px;

}

.nomeDW
{
    max-width: 52%;
    float: left;
}

.linha1Info
{
    display: flex;
    flex-direction: column;
}

.cartao-distancia
{
    margin-top: 10px;
    display: flex;
}

.cartao
{
    display: flex;
    align-items: center;
}

.distancia
{
    display: flex;
    align-items: center;
}

.preco-servico
{
    margin-top: 10px;
}

.avaliacao-dw
{
    margin-top: 10px;
}

.preferencias-dw
{
    margin-top: 10px;
}
