
  <div class="tabs">
    <!-- Proprietário 1 -->
    <div id="item-procurar" class="item" (click)="irParaProcurar()" *ngIf="Usuario == 'proprietario' && tela == 'procurar' ">
      <img src="/assets/pin-white.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>
    <div id="item-procurar" class="item" *ngIf="Usuario == 'proprietario' && tela == 'historico' " (click)="irParaProcurar()">
      <img src="/assets/pin.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>

    <!--Dog Walker 1-->
    <div id="item-procurar" class="item" *ngIf="Usuario == 'dogWalker' && tela == 'solicitacoes' " (click)="irParaSolicitacoes()">
      <img src="/assets/white-bell.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>
    <div id="item-procurar" class="item" *ngIf="Usuario == 'dogWalker' && tela == 'historico' " (click)="irParaSolicitacoes()">
      <img src="/assets/bell.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>


    <div class="item-line">
      <img src="/assets/line.png">
    </div>
    
    <!-- Proprietário 2 -->
    <div id="item-procurar" class="item" *ngIf="Usuario == 'proprietario' && tela == 'procurar' " (click)="irParaHistorico()">
      <img src="/assets/history.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>
    <div id="item-procurar" class="item" *ngIf="Usuario == 'proprietario' && tela == 'historico' " (click)="irParaHistorico()">
      <img src="/assets/white-history.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>

    <!--Dog Walker 2-->
    <div id="item-procurar" class="item" *ngIf="Usuario == 'dogWalker' && tela == 'solicitacoes' " (click)="irParaHistorico()">
      <img src="/assets/history.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>
    <div id="item-procurar" class="item" *ngIf="Usuario == 'dogWalker' && tela == 'historico' " (click)="irParaHistorico()">
      <img src="/assets/white-history.png" height="40px" width="40px" style="margin-top: 13px;">
    </div>

    
  </div>

  