<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header id="nome-usuario">{{usuario.nome}}</ion-list-header> <!--Texto "Pet Feliz no Header do Menu"-->
         
          <!--Tipo conta do usuário-->
          <p id="tipo-conta">{{ converterTipoConta(usuario.tipoConta) }}</p>

          <div id="botoes" *ngIf="usuario.tipoConta == 2">
            <div>
              <button id="botao-disponivel" class="botao" *ngIf="usuario.disponivel == 1" (click)="atualizarDisponibilidade(0)">
                Disponível
              </button>
              <button id="botao-indisponivel" class="botao" *ngIf="usuario.disponivel == 0" (click)="atualizarDisponibilidade(1)">
                Indisponível
              </button>
            </div>

            <img src="/assets/info.png" height="20px" width="20px" (click)="alertDisponibilidade(usuario.disponivel)">
          
          </div>
            

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header></ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content> <!-- &nbsp; é um espaço. OBS: Essa merda está aqui ainda, porque eu ainda não sei mexer no css do ionic --> 
      <ion-text color="medium"> <!--Surpresa! '_' --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todos os direitos reservados <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2021 | Pet Feliz</ion-text>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
