<ion-header>
  <ion-toolbar color="primary"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Seus pets</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <!--Conteúdo do app-->
<!-- Lista -->
<ion-list>
 
  <ion-item>
    <ion-avatar slot="end">
      <ion-img src="/assets/avatar_cachorro2.jpg"></ion-img>
    </ion-avatar>
    <ion-label><b>Nome:</b></ion-label>
  </ion-item>
  <ion-item><ion-label><b>Idade:</b></ion-label></ion-item>
  <ion-item><ion-label><b>Peso:</b> <br></ion-label></ion-item>
  <ion-item><ion-label><b>Raça:</b> <br></ion-label></ion-item>
  <ion-item><ion-label><b>Porte:</b> <br></ion-label></ion-item>
</ion-list> 
<ion-button expand="block" class="botaoDeletarPet" color="secondary"><b>Deletar Pet</b></ion-button> <!--BOTÃO-->
 
<ion-list>
 
  <ion-item>
    <ion-avatar slot="end">
      <ion-img src="/assets/avatar_cachorro1.jpg"></ion-img>
    </ion-avatar>
    <ion-label><b>Nome:</b></ion-label>
  </ion-item>


  <ion-item><ion-label><b>Idade:</b></ion-label></ion-item>
  <ion-item><ion-label><b>Peso:</b> <br></ion-label></ion-item>
  <ion-item><ion-label><b>Raça:</b> <br></ion-label></ion-item>
  <ion-item><ion-label><b>Porte:</b> <br></ion-label></ion-item>
</ion-list>
<ion-button expand="block" class="botaoDeletarPet" color="secondary"><b>Deletar Pet</b></ion-button> <!--BOTÃO-->

</ion-content>

