<ion-header>
  <ion-toolbar color="petfeliz"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Deletar</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <!--Conteúdo do app-->
  
  <div class="fundoRosaSair"> <!--"Que pena que você está nos deixando!"-->
    <div class="textoSair">
      <br>
      <br>
      <br>
      <b>Que pena que você <br> está nos deixando!</b>
    </div>
  </div>
    
    <div class="fundoBrancoSenhaSair"> <!--Quadrado branco-->

      <div class="textoDigitarSenhaSair"> <!-- "Para continuar você precisa digitar sua senha."-->
        <br>
        <br>
        <b>Para continuar você <br> precisa digitar sua senha.</b>
        
      </div>

      <div>
        <ion-item class="DigitesuaSenhaSair"> <!--"Digite sua senha"-->
          <ion-input type="password" placeholder="Digite sua senha"></ion-input>
        </ion-item>

        <ion-item class="DigitesuaSenhaNovamenteSair"> <!--"Digite sua senha novamente"-->
          <ion-input type="password" placeholder="Digite sua senha novamente"></ion-input>
        </ion-item>
      </div>
      <br>
        <ion-button expand="block" class="botaoDeletarSair" color="secondary"><b>Deletar</b></ion-button> <!--BOTÃO Deletar-->

    </div>

  
</ion-content>

