.fundoRosaSair{
    background-color: #E7BBE3;
    width: 100%;
    height:100%;
}
.textoSair{
    font-size: 120%;
    text-align: center;
}


.fundoBrancoSenhaSair{
    background-color: #ffffff;
    height: 45%;
    width: 90%;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    border-radius: 5%;
}

.textoDigitarSenhaSair{
    color: #000000;
    font-size: 100%;
    text-align: center;
}

.DigitesuaSenhaSair{
    font-size: 80%;
}
.DigitesuaSenhaNovamenteSair{
    font-size: 80%;
}
.botaoDeletarSair{
    margin-left: 25%;
    margin-top: 0%;
    width: 50%;
}