.avatarNomePerfildwProprietario
{
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.areaNomeDataEntrouEmPerfildwProprietario
{
    color:#000000;
}
.areaSobrePerfildwProprietario
{
    color:#000000; 
}
.tituloSobrePerfildwProprietario
{
    font-size: 120%; 

    margin-top: 10%; //% da instancia superior dele 
    margin-left: 10%;
}
.textoSobrePerfildwProprietario
{
    font-size: 100%; 

    margin-top: 5%; //% da instancia superior dele 
    margin-left: 10%;
    margin-right: 10%;
}
.tituloCursosPerfildwProprietario
{
    font-size: 120%; 

    margin-top: 10%; //% da instancia superior dele 
    margin-left: 10%;
}
.cursosPerfildwProprietario
{
    font-size: 100%; 

    margin-top: 5%; //% da instancia superior dele 
    margin-left: 10%;
}

.tituloPrecoPerfildwProprietario
{
    font-size: 120%; 

    margin-top: 10%; //% da instancia superior dele 
    margin-left: 10%;
}
.textoPrecoPerfildwProprietario
{
    font-size: 100%; 
}
.iconeTextoValorPerfildwProprietario
{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.tituloCartaoPerfildwProprietario
{
    font-size: 120%; 

    margin-top: 10%; //% da instancia superior dele 
    margin-left: 10%;
}
.textoCartaoPerfildwProprietario
{
    font-size: 100%; 

    margin-top: 5%; //% da instancia superior dele 
    margin-left: 10%;   
}
.tituloPreferenciasPerfildwProprietario
{
    font-size: 120%; 

    margin-top: 10%; //% da instancia superior dele 
    margin-left: 10%;
}
.textoPreferenciasPerfildwProprietario
{
    font-size: 100%; 

    margin-top: 5%; //% da instancia superior dele 
    margin-left: 10%;
}
.tituloAvaliacoesDWPerfildwProprietario
{
    font-size: 140%; 

    margin-top: 10%; //% da instancia superior dele 
    text-align: center;
}
.subtituloAvaliacoesDWPerfildwProprietario
{
    font-size: 100%; 

    margin-top: 5%; //% da instancia superior dele 
    text-align: center;
}


.avatarNomeAvaliadorPerfildwProprietario
{   margin-top: 10%; //% da instancia superior dele 
    display: flex;
    align-items: center;   
}
.areaNomeDataAvaliadorPerfildwProprietario
{
    font-size: 100%;
    display: flex;
    align-items: center;
}
.areaEstrelasAvaliadorPerfildwProprietario
{
    margin-top: 5%; //% da instancia superior dele 
    margin-left: 20%; 
}
.areaTextoAvaliacaoAvaliadorPerfildwProprietario
{
    margin-top: 5%; //% da instancia superior dele
    margin-left: 15%;
    margin-right: 10%;
}