<ion-header>
  <ion-toolbar color="primary"><!--Toolbar-->
    <ion-menu-button color ="tertiary" slot="start"></ion-menu-button> <!--Menu hamburguer-->
    <ion-title color="tertiary"> <b>Perfil do Dog Walker</b> <!-- <b> deixa o texto em negrito --> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfildwProprietario"> <!--Inicio DIV perfil do DW-->
    <div class="informacoesPerfildwProprietario"> <!--Inicio DIV informações do perfil do DW-->

        <div class="avatarNomePerfildwProprietario"> <!--Area que contem o avatar e o nome do DW-->
            <ion-avatar  style="height: 65px; width: 65px;">
              <img src="/assets/avatar_homemPerfil.jpg"> <!--Avatar do DW-->
            </ion-avatar> &nbsp;&nbsp; <!--Dá um espaço horizontal-->
            
            
            <div class="areaNomeDataEntrouEmPerfildwProprietario">
              <ion-label><b> Vanderlei Silva dos Santos </b></ion-label>  <!--Nome DW--> <br>
              <ion-label>Entrou em: </ion-label> 24/11/2020 <!--Entrou em: e data -->
            </div>
        </div>

        <div class="areaSobrePerfildwProprietario"> <!--Area de Sobre o perfil do DW-->
            <div class="tituloSobrePerfildwProprietario"> <!--Titulo "Sobre"-->
              <b>Sobre</b> <br>
            </div>
            <div class="textoSobrePerfildwProprietario"> <!--Texto principal puxado do Banco-->
              Cuidar de animais é o que faço de melhor. Possuo formação em cuidado e adestramento de cães. Darei toda atenção que o seu cão precisar.
            </div>
        </div>

        <div class="areaCursosPerfildwProprietario">
            <div class="tituloCursosPerfildwProprietario">
              <b>Cursos</b> <br>
            </div>
            <div class="cursosPerfildwProprietario">
              Adestramento de cães - 2019 <br> <br>
              Cuidador de cães - 2018 <br> <br>
            </div>
        </div>

        <div class="areaPrecoPerfildwProprietario">
            <div class="tituloPrecoPerfildwProprietario">
              <b>Preço</b>
            </div>
          
            <div class="iconeTextoValorPerfildwProprietario">
              <div class="iconePerfildwProprietario">
                <img src="/assets/dogWalker.png" style="height: 20px; width: 20px;">
              </div>

              &nbsp;&nbsp;

              <div class="textoPrecoPerfildwProprietario">
                Passeio
              </div>

              &nbsp;&nbsp;

              <div class="valorPrecoPerfildwProprietario" style="color:forestgreen ;">
                R$ 35.00
              </div>
            </div>
 
        </div>

        <div class="areaCartaoPerfildwProprietario">
            <div class="tituloCartaoPerfildwProprietario">
              <b>Aceita cartão</b>
            </div>

            <div class="textoCartaoPerfildwProprietario">
              Sim
            </div>
        </div>

        <div class="areaPreferenciasPerfildwProprietario">
            <div class="tituloPreferenciasPerfildwProprietario">
              <b>Preferências</b>
            </div>

            <div class="textoPreferenciasPerfildwProprietario">
              Cães de porte médio
            </div>
        </div>        
    </div> <!--Fim DIV informações do perfil do DW--> <br>
    
    <ion-item-divider>
      <ion-label>
        <!--Basic Item Divider-->
      </ion-label>
    </ion-item-divider>

        <!--INICIO AVALIAÇÕES DO DW-->
        <div class="areaAvaliacoesDWPerfildwProprietario">
            <div class="tituloAvaliacoesDWPerfildwProprietario">
              <b>Avaliações</b>
            </div>
            <div class="subtituloAvaliacoesDWPerfildwProprietario">
                Avaliação média:
            </div>
            
            <ion-list>
              <ion-item>
                <div class="avatarNomeAvaliadorPerfildwProprietario"> <!--Area que contem o avatar e o nome do Proprietario que avaliou-->
                  <ion-avatar  style="height: 30px; width: 30px;">
                    <img src="/assets/avatar_homemPerfil.jpg"> <!--Avatar do Proprietario que avaliou-->
                  </ion-avatar> &nbsp;&nbsp; <!--Dá um espaço horizontal-->
                  
                  
                  <div class="areaNomeDataAvaliadorPerfildwProprietario">
                    <ion-label><b> Heitor Chaves </b></ion-label>  <!--Nome Proprietario que avaliou--> <br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <!--Dá um espaço horizontal-->

                    <ion-label> 24/11/2020 </ion-label> <!--Data que a avaliação foi feita -->
                  </div>
                </div>
              </ion-item>
                                                                                          
              <div class="areaEstrelasAvaliadorPerfildwProprietario">
                estrelas <!--Tentei de tudo quanto é jeito posicionar pelo css mas não pegou nada, tive que apelar-->
              </div>

              <div class="areaTextoAvaliacaoAvaliadorPerfildwProprietario">
                Além de bem preparado, é bem competente e cuidadoso <!--Tentei de tudo quanto é jeito posicionar pelo css mas não pegou nada, tive que apelar-->
              </div>
              
            </ion-list>

            
        </div>
  </div> <!--Fim DIV perfil inteiro do DW-->
 
  
</ion-content>
