.avatarSolicitarServicoDW{
    top: 5%;
    left: 0%;
}
.statusSolicitarServicoDW{
    
    color:rgb(75, 75, 75);
    // margin-left: 10px;
    float: right;
}

.aceitoSouNcartaoSolicitarServicoDW{
    top: 15%;
    left: 30%;
}
.textoPrecoPorCaoSolicitarServicoDW{
    top: 18%;
    left: 21%;
}

.preferenciasAvaliacaoMediaSolicitarServicoDW{
    top: 30%;
    left: 21%;
}


.valorTotalSolicitarServicoDW{
    text-align: center;
    top: 65%;
    left: 30%;
}
.botaoSolicitarServicoDW{
    top: 70%;
    left: 25%;
    width:50%
    
}

.informacoes
{
    height: 100%;
    width: 120%;

    display: flex;
    flex-direction: row;

    margin-top: 30px;
    margin-bottom: 10px;
}

.item-lista
{
    margin-bottom: 20px;
}

.informacoesDW
{

    margin-left: 5%;

    display: flex;
    flex-direction: column;
}

.nomeStatus
{
    width: 245px;

}

.nomeDW
{
    max-width: 52%;
    float: left;
}

.linha1Info
{
    display: flex;
    flex-direction: column;
}

.cartao-distancia
{
    margin-top: 10px;
    display: flex;
}

.cartao
{
    display: flex;
    align-items: center;
}

.distancia
{
    display: flex;
    align-items: center;
}

.preco-servico
{
    margin-top: 10px;
}

.avaliacao-dw
{
    margin-top: 10px;
}

.preferencias-dw
{
    margin-top: 10px;
}

.botoes
{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.botao-solicitar
{
    margin-right: 13px;

    font-size: 18px;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #E94F37;
}

.botao-whatsapp
{
    margin-right: 13px;

    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #47BE53;
}

.botao-tornar-favorito
{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #FFF;
    border: solid 2px rgb(110, 110, 110);
}