#nome-proprietario p{
    text-align: center;
    color: #000;
}

table tr th
{
    width: 80px;
    height: 30px;
}
#informacoes-caes{
    color: slategrey;
    height: 20px;
}

#informacoes-caes th{
    margin-top: 10px;
}

button{
    font-size: 18px;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #E94F37;
}

#botao-fechar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}